.main{
    margin-top: 25vh;
    color: white;
    padding-bottom: 1vh;
  
    h1{
      padding: 20px;
      font-size: 5vw; 
      max-width: 80%;
      font-weight: 400;
    }
    .line{
        height: 1px;
        margin-bottom: 20px;
        width: 100%;
        position: relative;
      }
      
      .line svg{
        width: 100%;
        height: 500px;
        position: absolute;
        top: -250px;
      }
      
      .line svg path{
        stroke: white;
        stroke-width: 1px;
        fill: none;
      }
      
      .line .box{
        height: 40px;
        width: 100%;
        position: relative;
        top: -20px;
        z-index: 1;
      }
      
      .line .box:hover{
        height: 500px;
        top: -250px;
      }
      
}
.main2{
  position: relative;
  margin-top: 50vh;
}
.container{
    margin-top: 10vh;
    min-height: 100vh;
    .body{
        margin-left: 10vw;
        h1{
            margin: 0px;
            margin-top: 10px;
            font-size: 5vw;
            line-height: 5vw;
            text-transform: uppercase;
        }
        p{
            color: white;
            margin: 0px;
            margin-top: 10px;
            font-size: 3vw;
            text-transform: uppercase;
            span{
                position: relative;
            }
        }
    }
    .images{
        display: flex;
        width: 100%;
        justify-content: center;
        position: relative;
        margin-top: 5vh;
        .imageContainer{
            position: absolute;
            img{
                object-fit: cover;
            }
            &:nth-of-type(1){
                height: 60vh;
                width: 50vh;
                z-index: 1;
            }
            &:nth-of-type(2){
                left: 55vw;
                top: 15vh;
                height: 40vh;
                width: 30vh;
                z-index: 2;
            }
            &:nth-of-type(3){
                left: 27.5vw;
                top: 40vh;
                height: 25vh;
                width: 20vh;
                z-index: 3;
            }
        }
    }
    
}
.body p{
  font-size: 3.5vw;
  margin: 0px;
  margin-right: 1.5vw;
  font-weight: 700;
}

.body span{
  opacity: 0.2;
}
